{%extends "base.html"%}
{%block title%}
Регистрация
{%endblock%}
{% load crispy_forms_tags %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<!--{% load crispy_forms_tags %}-->
{%block content%}
<!-- Main Content-->
<form method="post" data-sb-form-api-token="API_TOKEN">
    <div class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <hr>
        <button class="btn btn-success" type="submit">Зарегистрироваться</button>
    </div>

</form>
{%endblock%}